.messages {
    overflow: auto;
    flex-grow: 1;
}

.chatscreen {
    height: 80%;
    width: 90%;
    padding: 3%;
    color:#e0e1fb!important;
    border-radius: 2em;
    padding: 5%;
    display: flex;
    flex-direction: column;
}