.modal {
    position: absolute;
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top {
    display: flex;
    justify-content: right;
    margin-top: 4vh;
    color: white;
    width: 90vw;
    max-width: 450px;
}