.modal {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top {
    display: flex;
    justify-content: right;
    margin: 5%;
    color: white;
    width: 90%;
}